.title {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.header-image {
    height: 150px;
}

.book-image {
    width: 200px;
  }

.book-image-buy {
    width: 250px;
}

.media{
    padding: 0 150px;
}

.book-title {
    background-color: transparent;
    border: none;
    font-size: 25px;
    padding-left: 0;
}