body {
  height: 100vh;
  width: 100vw;
  padding: 100px;

  font-family: 'Montserrat', sans-serif;
    
  display: flex;
  /* flex direction is column by default */
  /* justify-content: center; /* centers children horizontally - since it'll be 50:50, no need */
  /* align-items: stretch; /* stretches children vertically - default setting */
}
  

  /* background: #E7DAF0;
  font-family: 'Times Roman', Times, serif;
  font-size: 2.5rem;
  flex-basis: 25%; */


.search, .explore {
  background: #FFDED3;

  border-radius: 10px; 
  flex-basis: 50%;

  /* display: flex;
  flex-direction: row; */
  text-align: center;
  /* align-items: center;
  justify-content: center; */
}

h2 {
  font-family: 'Times Roman', Times, serif;
  font-size: 3rem;
  margin-bottom: 0;
}

.action {
  margin-top: 50px;
}

.search {
  margin-right: 50px;
}

.explore {
  margin-left: 50px;
}