body {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 70px;
}

.navbar .navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: #BFA55A;
}

.navbar {
  margin-bottom: 70px;
  height: 100px;

}

.book-stack {
  height: 20%;
  position: absolute;
  bottom: 50px;
}

h1, h3 {
  font-family: 'Anton', sans-serif;
}

.image-footer {
  display: flex;
  justify-content: center;
}

.row .search {
  padding: 0 100px;
  padding-right:10px;
  /* text-align: center; */
}

.row .explore {
  padding: 0 100px;
}