body {
    height: 100vh;
    width: 100vw;
    border: 20px solid #FFDED3; /* original #FFBDA7 | 75% opacity #FFCDBD | 50% opacity #FFDED3 | 25% opacity #FFEEE9 */
    position: relative;
}

.navbar .navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: #BFA55A;
}

.nav-item {
    font-size: 0.8rem;
    color: #A6A6A6;
}

.navbar {
    margin: 50px 100px;
    height: 100px;

}

.book-image {
    height: 40%;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.home {
    padding: 50px 16px;
    margin-left: 100px;
}

.team-pic {
    border-radius: 50%;
    width: 250px;
  }

.row {
    padding: 25px 100px;
    text-align: center;
}

.title {
    padding: 0 16px;
    margin-left: 100px;
}

h3 {
    font-family: 'Anton', sans-serif;
}

.about {
    padding: 0 16px;
    margin-left: 100px;
}

.feedback {
    padding: 0 16px;
    margin-left: 100px;
}