<!doctype html>

<html lang="en">

  <head>
    <title>readingList</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

    <!-- CSS & Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  </head>


  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg"> <!-- use bg-light to see navbar container -->
      <a class="navbar-brand" href="/">readingList</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/about">ABOUT</a>
          <a class="nav-item nav-link" href="/team">TEAM</a>
          <a class="nav-item nav-link" href="/feedback">FEEDBACK</a>
        </div>
      </div>
    </nav>

    <div class=feedback>

      <!-- USE BOOTSTRAP FORMS to make this prettier -->
      <h1>We love feedback!</h1>
      <p>We aim to continuously improve readingList, and your feedback comes a long way.</p>


      <form method="post" action="/thankyou">
        
          <div class="form-group pt-3">
            <label for="exampleFormControlSelect1">From 1 to 5, how happy are you with readingList?</label>
            <div class="form-check form-check-inline pl-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">3</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                  <label class="form-check-label" for="inlineRadio3">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                    <label class="form-check-label" for="inlineRadio3">5</label>
                  </div>
          </div>

          
          <div class="form-group col-md-6 px-0 pb-2">
            <label for="exampleFormControlTextarea1">What can we improve on?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>


          <label for="personalDetails">If you would like to recieve updates, please fill in the boxes below.</label>
          <div class="form-row pb-2">
                <div class="form-group col-md-3">
                  <input type="name" class="form-control" name="name" id="name" placeholder="First Name">
              </div>
              <div class="form-group col-md-3">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                
              </div>
            </div>

            <button type="submit" id="submit-button" class="btn btn-secondary">Submit</button>
        </form>

    </div>

    
    

  </body>

</html>