<!DOCTYPE html>

<html>

    <head>
        <title>readingList</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css")}}">

    <body>

    <div class='title'>
        <h1>readingList</h1>
    </div>
    

    <p class = "description">Use this cool website to search for your next favourite novel!</p>

    <h2>Book Seach</h2>
    <form method="post" action="/apiexample">
        <div class="form-group">
            <label for="name">Enter your name:</label>
            <input type="name" name="name" id="name" required="required">
        </div>
        <div class="form-group">
            <label for="movie">Enter your favourite book, author or genre:</label>
            <input type="movie" name="movie" id="movie" required="required">
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
    </form>

    </body>

</html>